<%- include('../partials/header'); %>

  <!-- Main Content -->
  <div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1 id="animated_box">
          <%= currentModule; %>
        </h1>
      </div>

      <div class="section-body animate__animated  animate__backInUp">

        <div class="row">
          <div class="col-8 offset-2">
            <div class="card">
              <div class="card-header">
                <h4>
                  <%= currentSubModule %>
                </h4>
              </div>
              <div class="card-body">
               
                  <div class="form-group">
                    <label>Name</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fas fa-cube"></i>
                        </div>
                      </div>
                      <input type="text" class="form-control" name="title" value="<%= row && row.title; %>" readonly required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Link</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fas fa-cube"></i>
                        </div>
                      </div>
                      <input type="text" class="form-control" name="link" value="<%= row && row.link; %>" readonly required>
                    </div>
                  </div>


                  <div class="form-group">
                    <label>Image</label>
                    <div class="input-group">
                      <div id="image-preview" class="image-preview"
                        style="background-image: url('<%= row && row.image; %>'); background-size: cover; background-position: center center;">
                        <!-- <label for="image-upload" id="image-label">Choose File</label>
                        <input type="file" name="image" id="image-upload" /> -->
                      </div>
                    </div>
                  </div>


                  <% if (row) { %>
                    <input type="hidden" class="form-control" name="id" value="<%= row && row.id; %>" required>
                    <% } %>
                      <input type="hidden" class="form-control" name="redirectUrl"
                        value="/<%= prefixBaseName; %>/<%= modelBaseName; %>" required>

                     
          
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>


  <%- include('../partials/footer'); %>