<%- include('./header.ejs'); -%>
  <%if(session.authenticated_web==true){%>
    <%- include('./login_header.ejs') -%>
      <%}else{%>
        <%- include('./sub_header.ejs'); -%>
          <%}%>
            <%- include('./sub_header2.ejs'); -%>
              <%- include('./navbar.ejs'); -%>
                <section class="store_locater">
                  <h3>Blog Details</h3>
                </section>

                <section class="page_path">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="bread_crumb">
                          <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="home">Home</a>
                              </li>
                              <li class="breadcrumb-item active" aria-current="page">
                                <a href="blog">
                                Blog
                              </a>
                              </li>
                              <li class="breadcrumb-item active" aria-current="page">Blog
                                Details</li>
                            </ol>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <section class="blog_new ">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="blog_list">
                          <div class="categories">
                            <h5 class="mb-3"> Categories </h5>
                            <ul class="cat-type">
                              <%get_blog_category.forEach((category)=>{%>
                                <li> <a
                                    href="/category_blog?key=<%=Buffer.from(`${category.id}`,'binary').toString('base64')%>">
                                    <%=category.name%>
                                  </a></li>
                                <%})%>

                            </ul>
                          </div>
                          <div class="categories">
                            <h5 class="mb-3 mt-3"> Popular posts </h5>
                            <%for(var i=0;i<3;i++){%>
                              <div class="pop_post">
                                <img src="<%=get_popular_blog[i].image%>">
                                <div class="pop_post1">
                                  <h3><%=get_popular_blog[i].name%></h3>
                                  <p> <%=get_popular_blog[i].createdAt%></p>
                                </div>
                              </div>
                              <%}%>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="blog_list_top2 p-0 blog_details">
                          <img src="<%=get_blog.image%>">
                          <h4>
                            <%=get_blog.createdAt%>- <%=get_blog.total_comment%> Comments
                          </h4>
                          <h5><a id="blog_details.html">
                              <%=get_blog.name%>
                            </a> </h5>
                          <p>
                            <%=get_blog.description%>
                          </p>

                          <div class="row" id="comment_list">
                            <%get_blog.blog_comments.forEach((comment)=>{%>
                              <div class="col-md-6"> 
                            <div class="comment mt-4 text-justify float-left"> 
                              <h4><%=comment.name%></h4> <span>- <%=comment.createdAt%></span> <br>
                              <p><%=comment.comment%></p>
                            </div>
                          </div>
                            
                            <%})%>
                          </div>
                          <div class="log_in_pop border-0 blog_form">
                            <form action="" id="blog_comment_form">
                              <div class="row">
                                <div class="col-md-12 p-0">
                                  <div class="form-group">
                                    <label>Comment write here</label>
                                    <textarea name="comment" id="comment" class="form-control" placeholder="comment here"></textarea>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label> Name</label>
                                    <input type="text"placeholder="Write name here" name="name" class="form-control form-control-sm">
                                  </div>
                                </div>

                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" name="email"placeholder="Write email here" class="form-control form-control-sm">
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Subject</label>
                                    <input type="text" name="subject" placeholder="Write subject here" class="form-control form-control-sm">
                                  </div>
                                </div>

                                <a href="javascript:void(0);" pid="<%=get_blog.id%>" id="add_blog_comment"
                                  class="log_in_btn float-left"> Post
                                  Comment</a>
                              </div>
                            </form>
                          </div>





                        </div>
                      </div>
                    </div>
                  </div>
                </section>



                <section class="Delivery ">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="Deli_very">
                          <h2>Heading </h2>
                          <p>Sed accumsan odio mattis sollicitudin dictum. Donec suscipit
                            feugiat tortor, a viverra orci.
                            Phasellus efficitur hendrerit mi, sit amet tincidunt arcu auctor
                            fermentum. Etiam malesuada
                            at metus nec aliquet. Orci varius natoque penatibus et magnis
                            dis parturient montes,
                            nascetur ridiculus mus. Sed sed ante erat. Sed vitae odio ac
                            purus dapibus ornare. Nam vitae
                            sapien ut nisl tempus faucibus sit amet at massa. Proin viverra,
                            ligula quis egestas
                            bibendum, sem neque consequat orci, in sodales leo nisi vel
                            felis. Sed accumsan odio mattis
                            sollicitudin dictum. Donec suscipit feugiat tortor, a viverra
                            orci. Phasellus efficitur
                            hendrerit mi, sit amet tincidunt arcu auctor fermentum. Etiam
                            malesuada at metus nec
                            aliquet. Orci varius natoque penatibus et magnis dis parturient
                            montes, nascetur ridiculus
                            mus. Sed sed ante erat. Sed vitae odio ac purus dapibus ornare.
                            Nam vitae sapien ut nisl
                            tempus faucibus sit amet at massa. Proin viverra, ligula quis
                            egestas bibendum, sem neque
                            consequat orci, in sodales leo nisi vel felis. Sed accumsan odio
                            mattis sollicitudin dictum.
                            Donec suscipit feugiat tortor, a viverra orci. Phasellus
                            efficitur hendrerit mi, sit amet
                            tincidunt arcu auctor fermentum. Etiam malesuada at metus nec
                            aliquet. Orci varius natoque
                            penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus. Sed sed ante erat. Sed
                            vitae odio ac purus dapibus ornare. Nam vitae sapien ut nisl
                            tempus faucibus sit amet at
                            massa. Proin viverra, ligula quis egestas bibendum, sem neque
                            consequat orci, in sodales leo
                            nisi vel felis. </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <%- include('./footer.ejs'); -%>