<%
function jsUcfirst(string) 
{
    return string.charAt(0).toUpperCase() + string.slice(1);
}

const days = {
    sun: 'Sunday',
    mon: 'Monday',
    tue: 'Tuesday',
    wed: 'Wednesday',
    thu: 'Thursday',
    fri: 'Friday',
    sat: 'Saturday',
}

%>

<form id="adminDataAddEditForm" class="form_advanced_validation" action="/sellerAdmin/user/updateVendorDeliveryOptionDays"
    method="POST" autocomplete="off" enctype="multipart/form-data">


    <%  
        if (adminData.hasOwnProperty('vendorDeliveryOptions') && adminData.vendorDeliveryOptions.length > 0) {
            adminData.vendorDeliveryOptions.forEach(deliveryDay => {
    %>

    <div class="delivery_option_days_container">
        <b><%= days[deliveryDay.day]; %></b>
        <input type="hidden" name="id<%= deliveryDay.sortOrder; %>" value="<%= deliveryDay.id; %>" />
        <input type="hidden" name="day<%= deliveryDay.sortOrder; %>" value="<%= deliveryDay.day; %>" />
        <div class="col-md-12 float_left delivery_option_days">
            <div class="col-md-2 float_left">
                <div class="form-group">
                    <label class="delivery_times">Delivery Times:</label>
                </div>
            </div>
            <div class="col-md-3 float_left">
                <div class="form-group">
                    <label>From</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-clock"></i>
                            </div>
                        </div>
                        <input type="text" class="form-control timepicker" 
                        onchange="checkFromTime('<%= deliveryDay.sortOrder %>')"
                        id="deliveryTimeFrom<%= deliveryDay.sortOrder; %>" name="deliveryTimeFrom<%= deliveryDay.sortOrder; %>"
                            value="<%= deliveryDay.deliveryTimeFrom; %>"
                            <%= type && type == 'view' ? 'disabled' : ''; %> >
                    </div>
                </div>
            </div>
            <div class="col-md-3 float_left">
                <div class="form-group">
                    <label>To</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-clock"></i>
                            </div>
                        </div>
                        <input type="text" onchange="checkToTime('<%= deliveryDay.sortOrder %>')"  class="form-control timepicker" id="deliveryTimeTo<%= deliveryDay.sortOrder; %>" name="deliveryTimeTo<%= deliveryDay.sortOrder; %>"
                            value="<%= deliveryDay.deliveryTimeTo; %>"
                            <%= type && type == 'view' ? 'disabled' : ''; %> >
                    </div>
                </div>
            </div>
            <div class="col-md-4 float_left">
                <div class="form-group">
                    <div class="control-label">No Delivery</div>
                    <label class="custom-switch mt-2">
                        <input name="noDelivery<%= deliveryDay.sortOrder; %>" type="checkbox" class="custom-switch-input"
                            <%= deliveryDay.noDelivery == 1 ? 'checked' : ''; %>
                            <%= type && type == 'view' ? 'disabled' : ''; %>>
                        <span class="custom-switch-indicator"></span>
                        <!-- <span class="custom-switch-description">description text</span> -->
                    </label>
                </div>
            </div>
        </div>
    </div>

    <%            
            });
        }
    %>

    <input type="hidden" class="form-control" name="redirectUrl"
        value="/sellerAdmin/manageShop#deliveryOptions" required>
    <div class="form-group row mb-4">
        <div class="col-sm-12 col-md-7 offset-4">
            <input type="hidden" class="form-control" name="vendorId" value="<%= adminData.id %>">
            <%
                if (type && type != 'view') {
            %>
            <button type="submit" class="btn btn-primary">Update</button>
            <%
                } else if (type && type == 'view') {
            %>
            <button type="button" class="btn btn-secondary cancel_btn">Back</button>
            <a href="/admin/vendor/edit/<%= adminData.id %>#deliveryOptions" class="btn btn-warning">Edit</a>
            <%
                }
            %>
        </div>
    </div>
</form>

<script>
    
    function checkFromTime(id){
        console.log(document.getElementById("deliveryTimeFrom"+id).value,"-----111111111 --- ",id)
        var valFrom = document.getElementById("deliveryTimeFrom"+id).value;
        var valTo = document.getElementById("deliveryTimeTo"+id).value;
      //   var valFrom = $("#deliveryTimeFrom"+id).val();
      //   var valTo = $("#deliveryTimeTo"+id).val();
      if(valTo!='' && valFrom!="" && Date.parse('01/01/2011 '+valTo) < Date.parse('01/01/2011 '+valFrom)){
            // $("#deliveryTimeFrom"+id).val('')
            document.getElementById("deliveryTimeFrom"+id).value = "";
            alert("From time cannot be greater than To time")
      }
    }
    function checkToTime(id){
        console.log("222222222222  --- ",id)
        var valFrom = document.getElementById("deliveryTimeFrom"+id).value;
        var valTo = document.getElementById("deliveryTimeTo"+id).value;
      if(valTo!='' && valFrom!="" && Date.parse('01/01/2011 '+valTo) < Date.parse('01/01/2011 '+valFrom)){
            // $("#deliveryTimeTo"+id).val('')
            document.getElementById("deliveryTimeTo"+id).value = "";
            alert("From time cannot be greater than To time")
      }
    }
</script>