<br />
<style>
    .text-overflow {
      width:250px;
      height:60px;
      display:block; 
      overflow:hidden;
      word-break: break-word;
      word-wrap: break-word;
  }

  .btn-overflow {
    display: none;
    text-decoration: none; 
  }

</style>
<button class="btn btn-outline-primary excel_export_btn excel_export_product_admin" >Export</button>

<div class="table-responsive">
    <table class="table table-striped table-md datatable">
        <thead>
            <tr>
                <%
                          if (headerColumns.length > 0) {
                            headerColumns.forEach((column, index) => {
                        %>
                <th <%- column == 'Action' ? 'style="width: 200px !important;"' : ''; %>"><%- column; %></th>
                <%
                            });
                        %>

                <%
                          }
                        %>
            </tr>
        </thead>
        <tbody>
            <%
                      if (data.length > 0) {
                        data.forEach(row => {
                    %>
            
                    <tr>
                      <%
                              if (row.length > 0) {
                                var x=0;
                                row.forEach(column => {
                                  x++;
                            if(x==5){ %>
                        <td>
                          <div class="text-overflow text-overflow-description-<%- row[0] %>"  id="<%- row[0] %>">
                            <%- column; %>
                          </div>
                          <a class="btn-overflow btn-overflow-description-<%- row[0] %>" id="<%- row[0] %>" href="javascript:void(0)">Show more</a>
                        
                        </td>
                      <% }else{ %>
                        <td><%- column; %></td>
                        <% }
                                });
                              }
                            %>
                  </tr>
            <%
                        });
                      }
                    %>
        </tbody>
    </table>
</div>
